@charset "utf-8";
#pageQuestionsForm {
  padding: 0;
}
.container, .headerContainer{
  width:100%;
}
.logoHeader{
      -webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.8); /* FF3.5+ */
    -ms-transform: scale(0.8); /* IE9 */
    -o-transform: scale(0.8); /* Opera 10.5+ */
    transform: scale(0.8);
    /* IE6–IE9 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}
.dynamicText{
  padding:0;
}
.descriptionContent div[style]{
  margin: 0 auto;
  padding: 5px;
  float: left !important;
  display: block;
  text-align: center;
  
}
.descriptionContent div[style] img{
  max-width: 60px;
  max-height: 45px;
}
.descriptionContent div img{
  margin: 0 auto;
}

.questionAnswer{
  margin-left: 0;
}
.questionLabel{
  display:block;
  width:100%;
}
select{
  width: 100%;
}
input,textarea{
  width:96%;
  white-space: nowrap; 
}
