/* ==========================================================================
Catalog Navigation
========================================================================== */

.menuContainer {
    padding-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
}

.menuContainer ul {
    width: 100%;
    float: left;
    overflow: hidden;
}

.menuContainer ul li {
    width: auto;
    display: block;
    vertical-align: text-bottom;
}

.menuContainer ul li a.arrow {
    background: url(../images/arrow.png) no-repeat center right;
    width: 100%;
}

.menuContainer ul li a {
    padding: 15px 0;
    text-indent: 20px;
    display: block;
    float: left;
    position: relative;
    width: 100%;
    /* This makes the naviation unselectable and smoother user experience */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menuContainer ul li a span {
    right: 10px;
    position: absolute;
}

.menuContainer ul li ul {
    display: none;
}

.menuContainer ul li:after {
    content: ".";
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
.menuContainer ul {
    display: inline-block;
}

.menuContainer ul li a,
.menuContainer ul li {
    background: transparent;
}

.menuContainer a.backMenu {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url(../images/prev.png);
    background-position: center left;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
}

.menuContainer a.backMenu:hover {
    background-image: url(../images/prev.png);
    background-position: center left;
    background-repeat: no-repeat;
}

.menuContainer ul li a.arrow:hover {
    background-image: url(../images/arrow.png);
    background-position: center right;
    background-repeat: no-repeat;
}

/* Bread crumbs */
.menuContainer ul#breadcrumbs li.breadcrumb:not(:last-child) {
    display: none;
}

/* Request Button in menu container */
.menuContainer .templateButton {
    float: left;
    margin: 0;
    padding: 7px 12px;
    font-size: 1em; /* 16 / 16 = 1 */
    font-weight: bold;
    text-decoration: none;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-indent: 0;
    width: auto !important;
}

/* Request Summary layout
------------------------- */
.requestSummary {
    padding: 20px;
    clear: both;
}
.requestSummary img {
    max-width: 60px;
    max-height: 45px;
    float:left;
    padding:10px 10px 0;
}