/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }
.ui-widget-header {
    border: none;
}
#main {
    padding: 0;
}
.pinned {
    display: none;
}

#tableContainerRequestsOpen_first,
#tableContainerRequestsOpen_last,
#tableContainerRequestsOpen_paginate span {
    display: none;
}

.ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: 0.9em;
    padding: 5px;
}

.dropdown form  {
    margin-bottom: 0;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .pinned {display: block;}
    table.responsive { margin-bottom: 0; }
    
    .pinned { position: absolute; left: 0; top: 0; background: #fff; width: 40%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: none; }
    .pinned table { border-right: none; border-left: none; width: 100%; display: table !important; }
    .pinned table th, .pinned table td { white-space: nowrap; }
    .pinned td:last-child { border-bottom: 0; }
    
    div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: none; }
    div.table-wrapper div.scrollable table { margin-left: 40%; }
    div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }  
    
    table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
    table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
}