table { margin-bottom: 0; }
table th { font-weight: bold; }
table td, table th { 
    padding: 9px 10px; 
    text-align: left;
    position: relative; 
    white-space: nowrap; 
    overflow: hidden;
}
#main { padding: 0; }
#tableContainerRequestsOpen_first,
#tableContainerRequestsOpen_last,
#tableContainerRequestsOpen_paginate span { display: none; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: 0.9em; padding: 5px; }
.ui-widget-header { border-radius: 0; border: none; }
.dropdown form  { margin-bottom: 0; }
.scrollable { 
    overflow: scroll; 
    overflow-y: hidden; 
    position: relative; 
    border-right: none;
}

