@charset "utf-8";

/**
 * Catalog Container
 */
#catalogContainer {
    width: 800px;
    margin-left: 0;
    float: left;
    min-height: 1px;
}

/**
 * Preview of templates
 */
#preview, #previewLoader, #portalRequestContent {
   width: 520px;
   margin: 10px 0px 0px 10px;
   float: left;
   min-height: 1px;
}

/**
 * Nested Categories Navigation
 */
#nestedNav {
    width: 260px;
    float: left;
    min-height: 1px;
    padding: 0;
}

#navDivider {
    margin: 0 0 0 10px;
}
 
ul#categoriesNav li.category .name {
    padding: 5px 0 5px 15px; 
    font-weight: bold;
    width: auto;
    font-size: 14px;
}

ul#categoriesNav li.category .name:hover {
    cursor: pointer;
    padding: 5px 0 5px 15px;
    width: auto;
}

ul#categoriesNav li.category .arrow {
    float: right;
    margin: 1px 5px 0 0;
    position: relative;
}

/**
 * Templates Navigation
 */
ul#templatesNav {
    margin: 5px;
}
ul#templatesNav li.template .name {
    padding: 5px 0 5px 10px;
    width: auto;
    font-size: 14px;
}
ul#templatesNav li.template .name:hover {
    cursor: pointer;
    width: auto;
}