/* Search Results List
----------------------*/
.search-header{
    border-bottom: 1px solid rgba(0,153,0,0.25);
    margin-bottom: 20px;
}
.search-header h1 span.sep {
    margin: 0 2px;
    font-weight: normal;
    text-shadow: none;
    color: #bbb;
}
.search-header h1 em {
    font-weight: normal;
    font-style: normal;
    color: #777;
}
.search-results li {
    position: relative;
    background: #fff;
    border-bottom: 1px solid #e8eae9;
    float: none;
    width: auto;
    margin: 0 0 20px;
    padding: 0;
}
.search-results li a {
    display: block;
    overflow: hidden;
}
.search-results li a span.search-img {
    float: left;
    display: block;
    width: 60px;
    height: 58px;
    margin: 0 8px 0 0;
    padding: 5px;
}
.search-results li a span.search-img img{
    max-width: 60px;
    max-height: 45px;
}
.search-results h1,
.search-results p {
    color: #333;
}
.search-results p {
    color: #999;
}
.highlighted {
    background: yellow;
    color: #000;
}